version: 2.1

orbs:
  docker: circleci/docker@1.0.0
  slack: circleci/slack@3.4.2

aliases:
  - &install_docker
    run:
      name: Install Docker client
      command: |
        set -x
        VER="19.03.13"
        curl -L -o /tmp/docker-$VER.tgz https://download.docker.com/linux/static/stable/x86_64/docker-$VER.tgz
        tar -xz -C /tmp -f /tmp/docker-$VER.tgz
        mv /tmp/docker/* /usr/bin

commands:
  prep:
    steps:
      - checkout
      - restore_cache:
          key: npm-dependencies-{{ arch }}-{{ checksum "package.json" }}
      - run:
          name: NPM Setup
          command: |
            echo "@fortawesome:registry=https://npm.fontawesome.com/" > .npmrc
            echo "//npm.fontawesome.com/:_authToken=${FA_TOKEN}" >> .npmrc
      - run:
          name: NPM Install
          environment:
            FA_TOKEN: $FA_TOKEN
          command: npm install
      - save_cache:
          key: npm-dependencies-{{ arch }}-{{ checksum "package.json" }}
          paths:
            - node_modules
  build:
    parameters:
      FA_TOKEN:
        type: string
      VUE_APP_OKTA_DOMAIN:
        type: string
      VUE_APP_PUBLIC_CLIENT_ID:
        type: string
      VUE_APP_PUBLIC_ISSUER:
        type: string
      VUE_APP_AUTH0_PUBLIC_CLIENT_ID:
        type: string
      VUE_APP_STRIPE_PUBLIC_TOKEN:
        type: string
      VUE_APP_AUTH0_DOMAIN:
        type: string
      VUE_APP_CLOUD_URL:
        type: string
      VUE_APP_BASE_URL:
        type: string
    steps:
      - prep
      - run:
          name: NPM Build
          environment:
            FA_TOKEN: ${FA_TOKEN}
          command: |
            export FA_TOKEN=<< parameters.FA_TOKEN >>
            export VUE_APP_OKTA_DOMAIN=<< parameters.VUE_APP_OKTA_DOMAIN >>
            export VUE_APP_PUBLIC_CLIENT_ID=<< parameters.VUE_APP_PUBLIC_CLIENT_ID >>
            export VUE_APP_PUBLIC_ISSUER=<< parameters.VUE_APP_PUBLIC_ISSUER >>
            export VUE_APP_AUTH0_DOMAIN=<< parameters.VUE_APP_AUTH0_DOMAIN >>
            export VUE_APP_AUTH0_PUBLIC_CLIENT_ID=<< parameters.VUE_APP_AUTH0_PUBLIC_CLIENT_ID >>
            export VUE_APP_STRIPE_PUBLIC_TOKEN=<< parameters.VUE_APP_STRIPE_PUBLIC_TOKEN >>
            export VUE_APP_RELEASE_TIMESTAMP=$(date -u +"%Y-%m-%dT%H:%M:%SZ")
            export VUE_APP_ENVIRONMENT=production
            export VUE_APP_CLOUD_URL=<< parameters.VUE_APP_CLOUD_URL >>
            export VUE_APP_BACKEND=CLOUD
            npm run build
  deploy_env:
    parameters:
      GCP_CREDS:
        type: string
      BUCKET_NAME:
        type: string

    steps:
      - run: echo << parameters.GCP_CREDS >> | gcloud auth activate-service-account --key-file=-
      - run: gsutil -m cp -r dist/* gs://<< parameters.BUCKET_NAME >>/

jobs:
  unit-test:
    resource_class: medium
    docker:
      - image: node:14.7
    steps:
      - prep
      - run:
          command: npm run test:unit

  lint:
    resource_class: medium
    docker:
      - image: node:14.7
    steps:
      - prep
      - run:
          command: npm run lint

  build-docker:
    docker:
      - image: circleci/python
        auth:
          username: $DOCKER_HUB_USER
          password: $DOCKER_HUB_PW
    steps:
      - checkout
      - setup_remote_docker:
          version: 19.03.13
      - *install_docker
      - run:
          name: Docker Build
          command: |
            echo "@fortawesome:registry=https://npm.fontawesome.com/" > .NPMRC_DOCKER
            echo "//npm.fontawesome.com/:_authToken=${FA_TOKEN}" >> .NPMRC_DOCKER
            DOCKER_BUILDKIT=1 docker build --no-cache -t prefecthq/ui:master --secret id=FA_TOKEN,src=.NPMRC_DOCKER --progress=plain .
      - run:
          name: Docker Push
          command: |
            export IMAGE=prefecthq/ui
            if [[ $CIRCLE_TAG ]]; then
              docker tag $IMAGE:master $IMAGE:$CIRCLE_TAG
              docker tag $IMAGE:master $IMAGE:latest
              docker rmi $IMAGE:master
            fi
            echo $DOCKER_HUB_PW | docker login -u $DOCKER_HUB_USER --password-stdin docker.io
            docker images $IMAGE
            docker push $IMAGE

  build-dev:
    resource_class: large
    docker:
      - image: node:14.7
    steps:
      - build:
          FA_TOKEN: ${FA_TOKEN}
          VUE_APP_OKTA_DOMAIN: ${VUE_APP_OKTA_DOMAIN__DEV}
          VUE_APP_PUBLIC_CLIENT_ID: ${VUE_APP_PUBLIC_CLIENT_ID__DEV}
          VUE_APP_PUBLIC_ISSUER: ${VUE_APP_PUBLIC_ISSUER__DEV}
          VUE_APP_AUTH0_DOMAIN: ${VUE_APP_AUTH0_DOMAIN__DEV}
          VUE_APP_AUTH0_PUBLIC_CLIENT_ID: ${VUE_APP_AUTH0_CLIENT_ID__DEV}
          VUE_APP_STRIPE_PUBLIC_TOKEN: ${VUE_APP_STRIPE_PK__DEV}
          VUE_APP_CLOUD_URL: ${VUE_APP_CLOUD_URL__DEV}
          VUE_APP_BASE_URL: ${VUE_APP_BASE_URL__DEV}
      - persist_to_workspace:
          root: /root/project
          paths:
            - dist
            - package.json
  deploy-dev:
    docker:
      - image: google/cloud-sdk
    steps:
      - attach_workspace:
          at: .
      - deploy_env:
          GCP_CREDS: ${GCP_SERVICE_ACCOUNT_KEY__DEV}
          BUCKET_NAME: ${GCS_BUCKET__DEV}
  build-staging:
    resource_class: large
    docker:
      - image: node:14.7
    steps:
      - build:
          FA_TOKEN: ${FA_TOKEN}
          VUE_APP_OKTA_DOMAIN: ${VUE_APP_OKTA_DOMAIN__STAGING}
          VUE_APP_PUBLIC_CLIENT_ID: ${VUE_APP_PUBLIC_CLIENT_ID__STAGING}
          VUE_APP_PUBLIC_ISSUER: ${VUE_APP_PUBLIC_ISSUER__STAGING}
          VUE_APP_AUTH0_DOMAIN: ${VUE_APP_AUTH0_DOMAIN__STAGING}
          VUE_APP_AUTH0_PUBLIC_CLIENT_ID: ${VUE_APP_AUTH0_CLIENT_ID__STAGING}
          VUE_APP_STRIPE_PUBLIC_TOKEN: ${VUE_APP_STRIPE_PK__STAGING}
          VUE_APP_CLOUD_URL: ${VUE_APP_CLOUD_URL__STAGING}
          VUE_APP_BASE_URL: ${VUE_APP_BASE_URL__STAGING}
      - persist_to_workspace:
          root: /root/project
          paths:
            - dist
            - package.json
  deploy-staging:
    docker:
      - image: google/cloud-sdk
    steps:
      - attach_workspace:
          at: .
      - deploy_env:
          GCP_CREDS: ${GCP_SERVICE_ACCOUNT_KEY__STAGING}
          BUCKET_NAME: ${GCS_BUCKET__STAGING}
  build-prod:
    resource_class: large
    docker:
      - image: node:14.7
    steps:
      - build:
          FA_TOKEN: ${FA_TOKEN}
          VUE_APP_OKTA_DOMAIN: ${VUE_APP_OKTA_DOMAIN__PROD}
          VUE_APP_PUBLIC_CLIENT_ID: ${VUE_APP_PUBLIC_CLIENT_ID__PROD}
          VUE_APP_PUBLIC_ISSUER: ${VUE_APP_PUBLIC_ISSUER__PROD}
          VUE_APP_AUTH0_DOMAIN: ${VUE_APP_AUTH0_DOMAIN__PROD}
          VUE_APP_AUTH0_PUBLIC_CLIENT_ID: ${VUE_APP_AUTH0_CLIENT_ID__PROD}
          VUE_APP_STRIPE_PUBLIC_TOKEN: ${VUE_APP_STRIPE_PK__PROD}
          VUE_APP_CLOUD_URL: ${VUE_APP_CLOUD_URL__PROD}
          VUE_APP_BASE_URL: ${VUE_APP_BASE_URL__PROD}
      - persist_to_workspace:
          root: /root/project
          paths:
            - dist
            - package.json
  deploy-prod:
    docker:
      - image: google/cloud-sdk
    steps:
      - attach_workspace:
          at: .
      - deploy_env:
          GCP_CREDS: ${GCP_SERVICE_ACCOUNT_KEY__PROD}
          BUCKET_NAME: ${GCS_BUCKET__PROD}

workflows:
  version: 2

  'Run unit tests':
    jobs:
      - unit-test

  'Lint application':
    jobs:
      - lint

  'Build and publish development UI artifacts':
    jobs:
      - build-docker:
          filters:
            branches:
              only:
                - master
            tags:
              only: /([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])).*/
  'Deploy dev':
    jobs:
      - build-dev:
          filters:
            branches:
              only:
                - dev
      - deploy-dev:
          requires:
            - build-dev
          filters:
            branches:
              only:
                - dev
  'Deploy staging':
    jobs:
      - build-staging:
          filters:
            branches:
              only:
                - master
      - deploy-staging:
          requires:
            - build-staging
          filters:
            branches:
              only:
                - master
  'Deploy prod':
    jobs:
      - slack/approval-notification:
          mentions: 'nicholas,chris'
          message: 'Release Prod'
          filters:
            branches:
              ignore:
                - /.*/
            tags:
              only: /([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])).*/
      - request-release:
          type: approval
          filters:
            branches:
              ignore:
                - /.*/
            tags:
              only: /([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])).*/
      - build-prod:
          requires:
            - request-release
          filters:
            branches:
              ignore:
                - /.*/
            tags:
              only: /([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])).*/
      - build-docker:
          requires:
            - request-release
          filters:
            branches:
              ignore:
                - /.*/
              only:
                - master
            tags:
              only: /([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])).*/
      - deploy-prod:
          requires:
            - build-prod
          filters:
            branches:
              ignore:
                - /.*/
            tags:
              only: /([12]\d{3}-(0[1-9]|1[0-2])-(0[1-9]|[12]\d|3[01])).*/
