
html, body {
  overflow: overlay;
}

* {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-width: thin;
  scrollbar-color: #babac0 transparent;

  ::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
  }

  /* background of the scrollbar except button or resizer */
  ::-webkit-scrollbar-track {
    background-color: #fff;
  }

  /* scrollbar itself */
  ::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
    min-height: 25px;

  }

  /* set button(top and bottom of the scrollbar) */
  ::-webkit-scrollbar-button {
    display:none;
  }
}


/*
  This is the fade transition css class overrides
*/
.fade-enter-active {
  animation: fade 500ms;
}

.fade-leave-active {
  animation: fade 500ms reverse;
}

.tooltip-fade-enter-active {
  animation: fade 150ms;
}

.tooltip-fade-leave-active {
  animation: fade 150ms reverse;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-expand-enter-active,
.fade-expand-leave-active {
  max-height: 1000px;
  opacity: 1;
  transition: all linear 500ms 250ms;
}

.fade-expand-leave-active {
  transition: all linear 200ms;
}

.fade-expand-enter,
.fade-expand-leave-to {
  max-height: 0;
  opacity: 0;
}

.quick-fade-enter-active,
.quick-fade-leave-active {
  opacity: 1;
  transition: opacity ease-in-out 150ms;
}

.quick-fade-leave-active {
  transition: opacity ease-in-out 150ms;
}

.quick-fade-enter,
.quick-fade-leave-to {
  opacity: 0;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

// stylelint-disable
.vertical-button {
  &.v-btn--tile {
    height: auto !important;
  }

  .v-btn__content {
    flex-direction: column-reverse !important;
  }
}
//stylelint-enable

// stylelint-disable
.v-input--vertical .v-input__slot {
  flex-direction: column-reverse !important;

  .v-input--selection-controls__input {
    align-self: center;
    margin: auto !important;
  }

  .v-btn:not(.v-btn--round).v-size--small {
    height: unset !important;
  }
}
// stylelint-enable

// stylelint-disable
.v-input--reverse .v-input__slot {
  flex-direction: row-reverse;
  justify-content: flex-end;

  .v-application--is-ltr & {
    .v-input--selection-controls__input {
      margin-left: 8px;
      margin-right: 0;
    }
  }

  .v-application--is-rtl & {
    .v-input--selection-controls__input {
      margin-left: 0;
      margin-right: 8px;
    }
  }
}
// stylelint-enable

// stylelint-disable
.theme--light.v-tabs-items {
  // stylelint-enable
  background-color: var(--v-appBackground-base) !important;
}

.tabs-hidden {
  // stylelint-disable
  .v-tabs-bar {
    display: none;
  }
  // stylelint-enable
}

.cursor-pointer {
  cursor: pointer;
}

.font-strikethrough {
  text-decoration: line-through !important;
}

.font-strikethrough-diagonal {
  position: relative;

  &::before {
    border-color: inherit;
    border-top: 1px solid;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: rotate(-5deg);
  }
}

.tabs-border-bottom {
  .v-tabs-bar {
    border-bottom: 1px solid #ddd !important;
  }
}

.v-text-field-input-color {
  // stylelint-disable
  .v-text-field__slot {
    input {
      color: inherit !important;
    }
  }
  // stylelint-enable
}

.v-btn-toggle {
  &.stacking-btn-toggle {
    .v-btn:first-child {
      border-bottom-left-radius: 0 !important;
      border-top-right-radius: 4px !important;
    }

    .v-btn:last-child {
      border-bottom-left-radius: 4px !important;
      border-top-right-radius: 0 !important;
    }

    .v-btn:not(:first-child) {
      border-left-width: 1px !important;
    }
  }
}

.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative !important;
}

.overflow-y-hidden {
  overflow-y: hidden !important;
}

.overflow-y-scroll {
  overflow-y: scroll !important;
}

.inline-block {
  display: inline-block;
}

.word-break-normal {
  word-break: normal;
}

.rounded-none {
  border-radius: 0 !important;
}

.o-100 {
  opacity: 1 !important;
}

.o-90 {
  opacity: 0.9 !important;
}

.o-85 {
  opacity: 0.85 !important;
}

.o-80 {
  opacity: 0.8 !important;
}

.o-75 {
  opacity: 0.75 !important;
}

.o-70 {
  opacity: 0.7 !important;
}

.o-60 {
  opacity: 0.6 !important;
}

.o-50 {
  opacity: 0.5 !important;
}

.o-40 {
  opacity: 0.4 !important;
}

.o-30 {
  opacity: 0.3 !important;
}

.o-20 {
  opacity: 0.2 !important;
}

.o-10 {
  opacity: 0.1 !important;
}

.o-none {
  opacity: 0 !important;
}

.hover-o-100 {
  &:hover,
  &:focus {
    opacity: 1 !important;
  }
}

.user-select-none {
  user-select: none;
}

.z-1 {
  z-index: 1 !important;
}

// Horizontal and diagonal slash styling
.slash-container {
  height: 100vh;
}

.fill-height {
  height: calc(100vh - 64px);
}

@keyframes slide-right-slant {
  0% {
    transform: skewY(-26deg) translate(0, 0);
    width: 0%;
  }

  100% {
    transform: skewY(-26deg) translate(0, -50%);
    width: 100%;
  }
}

@keyframes slide-left-slant {
  0% {
    transform: skewY(-26deg) translate(0, -50%);
    width: 100%;
  }

  100% {
    transform: skewY(-26deg) translate(0, 0);
    width: 0%;
  }
}

.slash {
  animation-delay: unset;
  position: relative;

  &::before {
    content: '';
    height: inherit;
    position: absolute;
    transform: skewY(-26deg) translate(0, -50%);
    transform-origin: inherit;
    transform-origin: 50% 50%;
    transition-delay: inherit !important;
    transition-duration: 500ms;
    transition-property: all;
    width: 100%;
    z-index: 0;
  }

  &.paused::before {
    animation-play-state: paused;
    transform: skewY(-26deg) translate(0, 0);
    width: 0 !important;
  }

  &.slash-shadow::before {
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12) !important;
  }

  &.slash-enter::before {
    animation-delay: inherit !important;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-name: slide-right-slant;
    animation-timing-function: ease-in-out;
  }

  &.slash-leave::before {
    animation-delay: 0 !important;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
    animation-name: slide-left-slant;
    animation-timing-function: ease-in-out;
  }

  &.slash-origin-left {
    &::before {
      left: 0;
    }
  }

  &.slash-origin-right {
    &::before {
      right: 0;
    }
  }

  &.slash-reverse::before {
    transform: skewY(26deg);
  }

  &.slash-grey::before {
    background-image: linear-gradient(105deg, #647489, #2f383f) !important;
  }

  &.slash-grey-reverse::before {
    background-image: linear-gradient(105deg, #2f383f, #647489) !important;
  }

  &.slash-orange::before {
    background-image: linear-gradient(105deg, #ff60de, #ff4d20) !important;
  }

  &.slash-pink::before {
    background-image: linear-gradient(105deg, #ff4d20, #ff60de) !important;
  }

  &.slash-blue::before {
    background-image: linear-gradient(105deg, #2edaff, #0e50f5) !important;
  }

  &.slash-light-blue::before {
    background-image: linear-gradient(105deg, #0e50f5, #2edaff) !important;
  }

  div {
    z-index: 1 !important;
  }
}

.slash-horizontal {
  position: relative;
  transition: all 250ms;
  width: 100%;

  &::before {
    content: '';
    height: inherit;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transform-origin: inherit;
    transition: all 250ms;
    transition-delay: 250ms;
    width: 100%;
    z-index: 0;
  }

  &.slash-grey::before {
    background-image: linear-gradient(105deg, #647489, #2f383f) !important;
  }

  &.slash-grey-reverse::before {
    background-image: linear-gradient(105deg, #2f383f, #647489) !important;
  }

  &.slash-blue::before {
    background-image: linear-gradient(105deg, #2edaff, #0e50f5) !important;
  }

  &.slash-orange::before {
    background-image: linear-gradient(105deg, #ff60de, #ff4d20) !important;
  }

  &.slash-pink::before {
    background-image: linear-gradient(105deg, #ff4d20, #ff60de) !important;
  }

  div {
    z-index: 1 !important;
  }

  &.slash-shadow::before {
    box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 12px 17px 2px rgba(0, 0, 0, 0.14), 0 5px 22px 4px rgba(0, 0, 0, 0.12) !important;
  }
}

.fixed-table {
  table {
    table-layout: fixed;
  }
}

.truncate-table.v-data-table {
  font-size: 0.9rem !important;

  td {
    font-size: inherit !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

// stylelint-disable
.overflow-table > .v-data-table__wrapper {
  overflow: initial !important;
}
// stylelint-enable

.code-block {
  font-family: 'Source Code Pro', monospace !important;
  white-space: pre-wrap;
}
