/*
This file is for styles used throughout the app, and global overrides.
The style sections are:
  - Transition and Animation classes (used throughout the app for consistent look and feel)
  - Vuetify overrides (where Vuetify/material theming doesn't fit with our aesthetic)
  - Utility classes (see if Vuetify offers the class you need before making more of these!)
  - Common UI elements (used throughout the app for consistent look and feel)

If you have styles used on several pages, but they aren't truly "global", you can create 
a "regional" stylesheet, and import it only on the pages needed. This will keep our CSS
concise and snappy, and the files easier to read!
*/

:root {
  --v-tabs-height: 47px;
}

html,
body {
  overflow: overlay;
}

.not-mac * {
  box-sizing: border-box;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  // This is for scrollbar-css compliant browsers only
  // ... which is just FireFox for now.
  // the -webkit-* selectors will be deprecated at some point
  // so this will serve as a fallback
  scrollbar-color: #babac0 transparent;
  scrollbar-width: thin;

  // Styles the scrollbar container
  ::-webkit-scrollbar {
    background-color: transparent;
    width: 16px;
  }

  // Removes track default background
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  // Styles scrollbar body
  ::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border: 4px solid #fff;
    border-radius: 16px;
    min-height: 25px;
  }

  // Removes scrollar arrow buttons
  /* stylelint-disable-next-line */
  ::-webkit-scrollbar-button {
    display: none;
  }
}

/* Transition and animation classes */
.fade-enter-active {
  animation: fade 500ms;
}

.fade-leave-active {
  animation: fade 500ms reverse;
}

.tooltip-fade-enter-active {
  animation: fade 150ms;
}

.tooltip-fade-leave-active {
  animation: fade 150ms reverse;
}

@keyframes fade {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.fade-expand-enter-active,
.fade-expand-leave-active {
  max-height: 1000px;
  opacity: 1;
}

.fade-expand-enter-active {
  transition: max-height linear 200ms 200ms, opacity linear 200ms 400ms;
}

.fade-expand-leave-active {
  transition: max-height linear 200ms 200ms, opacity linear 200ms;
}

.fade-expand-enter,
.fade-expand-leave-to {
  max-height: 0;
  opacity: 0;
}

.quick-fade-leave-active {
  transition: opacity 150ms ease-in-out !important;
}

.quick-fade-enter-active,
.quick-fade-leave-active {
  opacity: 1;
  transition: opacity 200ms ease-in-out;
}

.quick-fade-enter,
.quick-fade-leave-to {
  opacity: 0;
}

.tab-fade-leave-active {
  transition: opacity 150ms ease-in-out !important;
}

.tab-fade-enter-active,
.tab-fade-leave-active {
  opacity: 1;
  position: absolute;
  transition: opacity 350ms ease-in-out;
  width: 100%;
}

.tab-fade-enter,
.tab-fade-leave-to {
  opacity: 0;
}

.roll {
  animation: roll 3s ease-in-out;
  pointer-events: none;
}

@keyframes roll {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
/* End transition and animation classes */

/* Vuetify overrides */
// stylelint-disable
.vertical-button {
  &.v-btn--tile {
    height: auto !important;
  }

  .v-btn__content {
    flex-direction: column-reverse !important;
  }
}

// toggle button with label above
.v-input--vertical .v-input__slot {
  flex-direction: column-reverse !important;

  .v-input--selection-controls__input {
    align-self: center;
    margin: auto !important;
  }

  .v-btn:not(.v-btn--round).v-size--small {
    height: unset !important;
  }
}

// overflow menu with checkboxes
.v-input--reverse .v-input__slot {
  flex-direction: row-reverse;
  justify-content: flex-end;

  .v-application--is-ltr & {
    .v-input--selection-controls__input {
      margin-left: 8px;
      margin-right: 0;
    }
  }

  .v-application--is-rtl & {
    .v-input--selection-controls__input {
      margin-left: 0;
      margin-right: 8px;
    }
  }
}

.small-switch.v-input {
  margin-top: 0 !important;
  padding-top: 0 !important;
  transform: scale(0.8);
}

.multi-color-switch {
  .v-input--switch__track,
  .v-input--switch__thumb {
    color: inherit !important;
  }
}

//ugly box shadow on expanded data tables
.v-data-table
  > .v-data-table__wrapper
  tbody
  tr.v-data-table__expanded__content {
  box-shadow: none !important;
}

.theme--light.v-tabs-items {
  background-color: var(--v-appBackground-base) !important;
}
// stylelint-enable
/* End vuetify overrides */

/* Utility classes */
.cursor-pointer {
  cursor: pointer;
}

.position-absolute {
  position: absolute !important;
}

.position-relative {
  position: relative !important;
}

.word-break-normal {
  word-break: normal;
}

$percents: 0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100;

@each $percent in $percents {
  .o-#{$percent} {
    opacity: $percent/100 !important;
  }

  .hover-o-#{$percent} {
    &:hover,
    &:focus {
      opacity: $percent/100 !important;
    }
  }
}

.user-select-none {
  user-select: none;
}

.fill-height {
  height: calc(100vh - 64px);
}

.code-block {
  font-family: 'Source Code Pro', monospace !important;
  white-space: pre-wrap;
}
/* End utility classes */

/* Common UI elements */
.tabs-border-bottom {
  .v-tabs-bar {
    border-bottom: 1px solid var(--v-utilGrayLight-base) !important;
  }
}

.tabs-border-top {
  .v-tabs-bar {
    border-top: 1px solid var(--v-utilGrayLight-base) !important;
  }
}

.fixed-table {
  table {
    table-layout: fixed;
  }
}

.truncate-table.v-data-table {
  font-size: 0.9rem !important;

  td {
    font-size: inherit !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.remove--disabled.theme--light.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn-outlined),
.remove--disabled.theme--dark.v-btn.v-btn--disabled:not(.v-btn--flat):not(.v-btn--text):not(.v-btn-outlined) {
  .v-icon {
    color: inherit !important;
  }
}

/* stylelint-disable */
.disabled.v-badge {
  pointer-events: none !important;

  .v-badge__wrapper,
  .v-badge__badge {
    pointer-events: none !important;
  }
}

.v-text-field-input-color {
  .v-text-field__slot {
    input {
      color: inherit !important;
    }
  }
}

// hides subnav on small screens
.tabs-hidden {
  .v-tabs-bar {
    display: none;
  }
}

.v-picker__body {
  background: inherit !important;
}

.overflow-table > .v-data-table__wrapper {
  overflow: initial !important;
}
// stylelint-enable
/* End common UI elements */

/* Navbar global styles */
.navbar-icon {
  font-size: 0.85rem;
  height: 36px !important;
  width: 36px !important;

  .svg-inline--fa {
    --fa-primary-color: #fff;
    --fa-secondary-color: #efefef;
    transition: all 150ms linear;

    &.fa-search {
      --fa-primary-color: #efefef;
      --fa-secondary-color: #fff;
      --fa-secondary-opacity: 1;
    }

    &.fa-bell {
      --fa-primary-color: #efefef;
      --fa-secondary-color: #fff;
      --fa-secondary-opacity: 1;
    }

    &.fa-server {
      --fa-secondary-opacity: 1;
    }

    &.fa-circle {
      --fa-secondary-color: #fff;
      --fa-secondary-opacity: 0;
      height: 0;
      width: 0;
    }
  }

  &:hover,
  &:focus {
    .svg-inline--fa {
      --fa-primary-color: var(--v-accentPink-base);
    }
  }

  &.active {
    .svg-inline--fa.fa-sliders-v-square {
      --fa-primary-color: var(--v-accentPink-base);
    }
  }
}

.banner-icon {
  color: transparent;
  font-size: 36px !important;
  height: 36px !important;
  line-height: 36px !important;
  width: 60px !important;

  .svg-inline--fa {
    transition: all 150ms linear;

    &.fa-list-ul {
      --fa-primary-color: var(--v-warning-base);
      --fa-secondary-color: var(--v-utilGrayLight-base);
      --fa-secondary-opacity: 1;
    }
  }
}

.system-icon {
  font-size: 64px !important;
  height: 64px !important;
  line-height: 64px !important;
  width: 80px !important;

  &.fa-stack {
    position: relative !important;

    .fa-stack-1x,
    .fa-stack-2x {
      height: inherit !important;
      position: relative;
      width: inherit !important;
    }

    .svg-inline--fa.fa-stack-1x {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -25%);
    }
  }

  .svg-inline--fa {
    --fa-primary-color: #444;
    --fa-secondary-opacity: 0.75;

    transition: all 150ms linear;

    &.fa-list-alt {
      --fa-primary-color: var(--v-warning-base);
      --fa-secondary-opacity: 1;
    }

    &.fa-align-slash {
      --fa-primary-color: var(--v-error-base);
      --fa-secondary-opacity: 1;
    }

    &.fa-slash {
      color: var(--v-error-base);
    }
  }

  &.active {
    .svg-inline--fa {
      &.fa-list-alt {
        --fa-primary-color: var(--v-primary-base);
        --fa-secondary-opacity: 1;
      }
    }
  }
}

.fa-stack {
  &.active {
    .nav-bar-duotone-icon {
      --fa-primary-color: var(--v-accentPink-base);
    }

    .fa-stack-1x {
      height: 100%;
      left: 50%;
      transform: translate(-50%, 1.15em) scale(0.6);
      width: 100%;
    }
  }
}

/* End Navbar global styles */

/* Dark Mode background overrides */
// stylelint-disable
.theme--dark {
  .v-tabs-items,
  &.v-application {
    background-color: var(--v-appBackground-base) !important;
  }

  &.v-calendar-daily,
  &.v-card,
  &.v-data-table,
  &.v-data-table.v-data-table--fixed-header thead th,
  &.v-navigation-drawer,
  .v-sheet,
  &.v-tabs > .v-tabs-bar,
  &.v-text-field--solo > .v-input__control > .v-input__slot,
  &.v-toolbar.v-sheet:not(header) {
    background-color: var(--v-appForeground-base);
  }

  &.v-data-table
    > .v-data-table__wrapper
    > table
    > tbody
    > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper),
  &.v-tooltip__content {
    background-color: var(--v-utilGrayMid-darken2) !important;
  }

  scrollbar-color: var(--v-utilGrayMid-darken2) transparent;
  scrollbar-width: thin;

  ::-webkit-scrollbar {
    background-color: transparent;
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--v-utilGrayMid-darken2);
    border-radius: 16px;
    min-height: 25px;
  }

  ::-webkit-scrollbar-corner {
    background-color: transparent;
  }

  .v-skeleton-loader__bone {
    background-color: var(--v-utilGrayMid-darken3) !important;
  }
}
/* End Dark Mode background overrides */
/* Plans global styles */
/* stylelint-disable no-descending-specificity */
.plans-feature-icon {
  align-items: center;
  display: inline-flex;
  height: 20px;
  justify-content: center;
  width: 20px;

  .svg-inline--fa {
    --fa-primary-color: var(--v-primary-base);
    --fa-secondary-color: var(--v-primary-base);
    --fa-secondary-opacity: 0.6;
    transition: all 150ms linear;
  }

  &.feature-green {
    .svg-inline--fa {
      --fa-primary-color: var(--v-accentGreen-base);
      --fa-secondary-color: var(--v-accentGreen-base);
      --fa-secondary-opacity: 0.6;
      transition: all 150ms linear;
    }
  }

  .fa-toolbox.svg-inline--fa {
    --fa-primary-opacity: 0.6 !important;
    --fa-secondary-opacity: 1 !important;
  }

  &.plans-feature-icon-light {
    .svg-inline--fa {
      --fa-primary-color: var(--v-primary-base);
      --fa-secondary-color: var(--v-primaryLight-base);
      --fa-secondary-opacity: 1;
    }
  }
}

.feature-category-icon {
  .svg-inline--fa {
    --fa-primary-color: var(--v-primary-base);
    --fa-secondary-color: var(--v-accentPink-base);
    --fa-secondary-opacity: 1;
    transition: all 150ms linear;

    &.fa-chart-scatter {
      --fa-primary-color: var(--v-accentPink-base);
      --fa-secondary-color: var(--v-primary-base);
    }
  }
}

.feature-list-icon {
  $color: #607d8b;

  .svg-inline--fa {
    --fa-primary-color: #{$color};
    --fa-secondary-color: #{$color};
    --fa-secondary-opacity: 1;
    color: $color;
    opacity: 1;
    transition: all 150ms linear;
  }

  &.empty-circle .svg-inline--fa {
    --fa-primary-opacity: 0 !important;
  }

  &.empty-outline .svg-inline--fa {
    --fa-secondary-opacity: 0 !important;
  }

  &.feature-list-icon-disabled .svg-inline--fa {
    opacity: 0.3 !important;
  }
}

.support-icon {
  .svg-inline--fa {
    --fa-primary-color: var(--v-primary-base);
    --fa-secondary-color: var(--v-primary-base);
    --fa-secondary-opacity: 0.5;
  }

  .fa-badge-check.svg-inline--fa {
    --fa-primary-color: var(--v-accentGreen-darken2);
    --fa-secondary-color: var(--v-accentGreen-base);
  }
}
/* stylelint-enable no-descending-specificity */
/* End plans global styles */

$fa-cc-amex: #007bc1;
$fa-cc-diners-club: #004a97;
$fa-cc-discover: #f68121;
$fa-cc-jcb: #003a8f;
$fa-cc-mastercard: #0a3a82;
$fa-cc-paypal: #253b80;
$fa-cc-stripe: #00afe1;
$fa-cc-visa: #0157a2;

.fa-cc-amex {
  color: $fa-cc-amex !important;
}

.fa-cc-diners-club {
  color: $fa-cc-diners-club !important;
}

.fa-cc-discover {
  color: $fa-cc-discover !important;
}

.fa-cc-jcb {
  color: $fa-cc-jcb !important;
}

.fa-cc-mastercard {
  color: $fa-cc-mastercard !important;
}

.fa-cc-paypal {
  color: $fa-cc-paypal !important;
}

.fa-cc-stripe {
  color: $fa-cc-stripe !important;
}

.fa-cc-visa {
  color: $fa-cc-visa !important;
}
