.md {
  margin-left: 2.25rem;
  margin-top: 3.25rem;
  /* stylelint-disable-next-line */
  a[aria-hidden='true'] {
    float: left;
    font-size: 0.85em;
    margin-left: -0.87em;
    margin-top: 0.125em;
    opacity: 0;
    padding-right: 0.23em;
  }
  /* stylelint-disable-next-line */
  a[aria-hidden='true']:hover {
    opacity: 1;
  }

  h1 {
    font-size: 2.5em;
  }

  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.75em;
  }

  h4 {
    font-size: 1.5em;
  }

  h5 {
    font-size: 1.25em;
  }

  h6 {
    font-size: 1em;
  }
  /* stylelint-disable a11y/line-height-is-vertical-rhythmed */
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border-bottom: 1px solid #d2dadf;
    color: #4d606e;
    font-weight: 700;
    line-height: 1.15;
    margin-top: 1em;
    padding-bottom: 0.7rem;
    text-rendering: optimizeLegibility;
  }
  /* stylelint-enable */

  ol,
  p,
  ul {
    color: #4d606e;
    font-size: 1em;
    line-height: 1.75;
  }

  p {
    color: #4d606e;
    display: block;
    margin-block-end: 1em;
    margin-block-start: 1em;
    margin-inline-end: 0;
    margin-inline-start: 0;
  }

  img {
    max-width: 100%;
  }

  a {
    font-weight: 500;
    text-decoration: none;
  }

  pre > code {
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
    border-radius: 2px;
    color: #5e6687;
    display: block;
    font-family: 'Source Code Pro', monospace;
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 1.6em;
    margin-top: 16px;
    max-width: 100%;
    overflow: auto;
    padding: 12px;
    page-break-inside: avoid;
    word-wrap: break-word;
  }

  p > code {
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
    color: #3b8dff;
    font-size: 0.85em;
    margin: 0;
    padding: 0.25rem 0.5rem;
  }
  /* stylelint-disable a11y/font-size-is-readable */
  blockquote {
    background-color: #fffaf1;
    border-color: #e90;
    border-left-style: solid;
    border-left-width: 0.5rem;
    font-size: 13px;
    margin: 1rem 0;
    padding: 0.1rem 1.5rem;
  }
  /* stylelint-enable */
}
