$prefect-font-family: 'prefect-icons' !default;
$prefect-font-path: 'fonts' !default;

$pi-agent: '\e900';
$pi-flow-run: '\e901';
$pi-flow: '\e902';
$pi-gantt: '\e903';
$pi-project: '\e904';
$pi-schematic: '\e905';
$pi-task-run: '\e906';
$pi-task: '\e907';
